.container{
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	background-color: #00dada;
}

body{
	background-color:grey;
}

nav{
	flex: 1;
	text-align: center;
	color: white;
	background-color: black;
}

#MainTopic{
	height: 10vh;
	width: 100%;
	text-align: center;
	color: white;
	background-color: black;
}
